[submodule "thirdparty/google/benchmark"]
	path = thirdparty/google/benchmark
	url = https://github.com/google/benchmark.git

[submodule "thirdparty/google/googletest"]
	path = thirdparty/google/googletest
	url = https://github.com/google/googletest.git